@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <header>
        <NavMenu />
    </header>
    <main class="flex-fill container my-3">
        @Body
    </main>
    <footer class="text-center py-3 border-top">
        <small>&copy; 2025 - CRMProject</small>
    </footer>
</div>
